
.index-page{
  @media (max-width: 767px)
  {
    width: 1000px;
    overflow-x: scroll;
    scroll-behavior: smooth;

   
  }
    background-color: white;
  
    
   
    header{
    
        background-color: #2a4568 !important;
        height: 80px;
        margin-bottom: 2px;
        @media (max-width: 767px)
        {
          height: 120px;
        }

        p{
           
            color: white;
            font-weight: 600;
            font-size: 20px;
            letter-spacing: 2px;
        }
        button{
            text-align: center;
            display: inline-flex;
            justify-content: center;
            padding: 12px;
            span{
              display: inline;
           }
            @media (max-width: 767px)
            {
            
              padding: 5px;
              display: block !important;
              width: 100%;
              margin: 5px 0px 0px;
             &:first-of-type{
              margin-left: 10px;
             }
          
            mat-icon{
              height: 21px;
            }
             
            }
        }   
        
    }
 
    mat-table {
        padding:  5px 15px;
        display: block;
        margin-right: 5px;
        mat-header-cell{
            border-top: 1px solid #e4d7d7;
        }
        mat-icon:last-child{
            color: red;
        }
        mat-icon:first-child{
            color: yellow;
        }
                 
       
    }
}

@media (min-width: 576px){
  .modal-sm {
    --bs-modal-width: 400px;
    padding: 2px; 
  }
}
.modal-delte{
  text-align: start;
  
  .header{
    font-size: 25px;
    color: #6a5c5c;
  }
  .detail{
    font-size: 16px;
    font-weight: 300;
    margin: 0;
    padding-top: 10px;
    color: #6a5c5c;
  }
  .alert-delte{
    color: #e1a319;
    font-size: 14px;
    padding: 20px 0;
    display: inline-block;
  }
  .footer-alert{
    background-color: rgb(197 193 193 / 16%);
    padding: 20px 0;
    button:nth-child(2){
       background-color: rgb(236, 54, 54);
       color: white;
    }
    button{
     
      border-radius: 0;
      display: inline-block;
      padding: 10px 30px;
    }
  }

}
.pagination{
    p {
        font-family: Lato;
      }
      
      .output {
        text-align: center;
        font-size: 10rem;
      }
      
      numbered-pagination {
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
      }
      
}

// styled paginator 
.paginateend{
  text-align: center;
 margin: 5px 0 ;
 div{
  margin-bottom: 5px;
 }


  @media (min-width: 767px)
  {
   display: flex;
   justify-content: space-between;
   padding: 8px;

  }

}

::ng-deep ul > li > a {

  text-decoration: none !important;
  background-color: transparent !important;
}
::ng-deep ul > li > a::after , ::ng-deep ul > li > a::before {

  display: none !important;
}
::ng-deep ul  li::before {

  display: none !important;
}
::ng-deep ul  li::after {

  display: none !important;
}